@import "media.css";

.content{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  /* padding: 20px 40px; */
}
.wrap {
  position: relative;
  margin: auto;
  background-image: url("../img.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1690px;
  /* min-width: 800px; */
}
.positionA{
  position: absolute;
  width: 100%;
  height: 500px;
  left: 0%;
  top: 56.5%;
}

.history{
  margin: auto;
  background: #F8F4EA;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer{
  height: 30px;
  margin: auto;
  color: #878787;
}
.footer h6{
  margin: auto 0 auto 200px;
}

#posts{
  width: 80%;
  margin: auto;
}
.post{
  display: flex;
  background:#FFFFFF;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding: 10px 0;
  margin-bottom: 20px;
}

.photo{
  margin: auto;
  padding-left: 20px;
  flex-basis: 20%;
}

.photo > img{
  max-height: 150px;
  max-width: 150px;
  overflow: hidden;
}

.photo > img:hover {
  cursor: zoom-in;
}

.full-name{
  margin-bottom: 20px;
}

.post-body{
  margin-left: 20px;
  flex-basis: 80%;
  padding-right: 20px;
}

.post-text{
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn{
  float: right;
  margin: 20px;
}

.btn-read{
  height: 30px; 
  width: 177px;
  background-color: transparent;
  background-image:url('../images/read.png');
  background-repeat:no-repeat;
  border:none;
  line-height:50px;
}
.btn-hide{
    height: 30px; 
    width: 177px;
    background-color: transparent;
    background-image:url('../images/hide.png');
    background-repeat:no-repeat;
    border:none;
    line-height:50px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.display-block2 {
  display: block;
  width: 20%;
  position: absolute;
  left: 57%;
  top: 23%;
  z-index: 20;
}

.thanks {
  display: none;
}

.form{
  position: relative;
}

.txt1 {
  position: absolute; 
  left: 555px;
}

.txt {
  position: absolute; 
  left: 555px;
  top: 30px;
  font-size: 20px;
  width: 32%;
  z-index: 10;
}

p {
  position: absolute; 
  left: 555px;
  top: 130px;
  font-size: 20px;
  font-weight: bold;
}

#image-body{
  /* max-width: 100%; */
  /* margin-top: 20px; */
  /* width: auto;
  height: auto; */
  overflow: auto;
  width: auto;
}

/* .croppie-container */

#result{
  margin-left: 20px;
  max-width: 200px;
  max-height: 200px;
}

#result-wrap{
  margin-top: 20px;
}

#resizer-demo{
  /* max-width: 100%;
  max-height: 100%; */
}

#span-plus {
  position: absolute; 
  left: 788px;
  top: 140px;
  background-image:url('../images/black-circle.png');
  background-repeat:no-repeat;
  background-size: 50%;
  cursor: pointer;
  height: 30px; 
  width: 30px;

}
#div-txt {
  position: absolute; 
  left: 555px;
  top: 160px;
  font-weight: normal;
  color: #b6b6b6;
}
.name1 {
  position: absolute; 
  left: 555px;
  top: 190px;
}
.name {
  position: absolute; 
  left: 555px;
  top: 220px;
  font-size: 20px;
  width: 32%;
}
.email1 {
  position: absolute; 
  left: 555px;
  top: 270px;
}
.email {
  position: absolute; 
  left: 555px;
  top: 300px;
  font-size: 20px;
  width: 32%;
}

.div-sub{
  position: absolute; 
  left: 600px;
  top: 390px;
}

.btn-submit{
  height: 94px; 
  width: 347px;
  background-color: transparent;
  background-image:url('../images/TELL.png');
  background-repeat:no-repeat;
  background-size: 80%;
  border:none;
  line-height:50px;

}

.btn-submit:hover {
  background-image:url('../images/TELL_ON.png');
}

#btn-photo{
  height: 160px; 
  width: 160px;
  background-color: transparent;
  background-image:url('../images/add_photo.png');
  background-repeat:no-repeat;
  background-size: 90%;
  border:none;
  line-height:50px;
  position: absolute; 
  left: 265px;
  top: 1200px;
  cursor: pointer;
}

#btn-photo:hover{
  background-image:url('../images/add_photo_on.png');
}

.btn-con{
  height: 60px; 
  width: 180px;
  background-color: transparent;
  background-repeat:no-repeat;
  border:none;
  line-height:50px;
  position: absolute; 
  left: 430px;
  top: 852px;
  background-image:url('../images/konkurs.png');
}

.btn-con:hover{
  background-image:url('../images/konkurs_on.png');
}

#sub2{
  display: none;
}

.btn-logo{
  height: 55px; 
  width: 130px;
  background-color: transparent;
  background-image:url('../images/logo-black.png');
  background-repeat:no-repeat;
  border:none;
  line-height:50px;
  position: absolute; 
  left: 840px;
  top: 55px;
}

.media{
  position: absolute; 
  left: 170px;
  top: 1410px;
  display: flex;
  width: 360px;
  height: 95px;
  transform: rotate(0.98turn);
}

.btn-vk{
  height: 90px; 
  width: 90px;
  background-color: transparent;
  background-image:url('../images/BK.png');
  background-size: 90%;
  background-repeat:no-repeat;
  border:none;
  line-height:50px;
}
.btn-fb{
  height: 90px; 
  width: 90px;
  background-color: transparent;
  background-image:url('../images/Fb.png');
  background-size: 90%;
  background-repeat:no-repeat;
  border:none;
  line-height:50px;
}
.btn-ok{
  height: 90px; 
  width: 90px;
  background-color: transparent;
  background-image:url('../images/O.png');
  background-size: 90%;
  background-repeat:no-repeat;
  border:none;
  line-height:50px;
}
.btn-wp{
  height: 90px; 
  width: 90px;
  background-color: transparent;
  background-image:url('../images/Whatsapp.png');
  background-size: 90%;  
  background-repeat:no-repeat;
  border:none;
  line-height:50px;
}

.btn-vk:hover{
  background-image:url('../images/BK_on.png');
}
.btn-fb:hover{
  background-image:url('../images/Fb_on.png');  
}
.btn-ok:hover{
  background-image:url('../images/O_on.png'); 
}
.btn-wp:hover{
  background-image:url('../images/Whatsapp_on.png'); 
}

.label {
  font-size: 22px;
  font-weight: bold;
}

.positionA .form-control:focus:not(.is-invalid) {
  border: 2px solid #fbd77c;
  box-shadow: inset 0 1px 1px rgba(251,215,124,0.075), 0 0 18px rgba(251,215,124,0.6);
}

.invalid-feedback{
  position: absolute; 
  left: 555px;
  top: 340px;
  font-size: 20px;
  width: 32%;
}

.positionA .frm-ctrl{
  width: 32%;
}

.positionA .form-control:focus .is-invalid{
  border: 2px solid red;
  box-shadow: inset 0 1px 1px rgba(251,215,124,0.075), 0 0 18px rgba(251,215,124,0.6);
}

#file {
  display: none;
}

.modal-open .modal {
  overflow: auto;
}

.menu{
  position: absolute;
  height: 250px;
  width: 350px;
  left: 0px;
  top: 30px;
}

.menu-btn{
  margin: auto;
  height: 100px; 
  width: 100px;
  background-color: transparent;
  background-image:url('../images/MENU.png');
  background-size: 90%;
  background-repeat:no-repeat;
  border:none;
  cursor: pointer;
}
.menu-btn:hover{
  background-image:url('../images/MENU_on.png') 
}

#menu-btn-list{
  width: 400px;
  height: 150px;
  padding-left: 80px;
  position: relative;
  margin-bottom: 10px;
  display: none;
}

.menu-list1{
  height: 70px; 
  width: 250px;
  background-image: url('../images/menu1.png');
  background-repeat: no-repeat;
  background-size: 80%;
  position: absolute;
  top: -20px;
}

.menu-list2{
  height: 70px; 
  width: 250px;
  background-image: url('../images/menu2.png');
  background-repeat: no-repeat;
  background-size: 80%;
  position: absolute;
  top: 30px;
}

.menu-list3{
  height: 70px; 
  width: 250px;
  background-image: url('../images/menu3.png');
  background-repeat: no-repeat;
  background-size: 80%;
  position: absolute;
  top: 80px;
}

.menu-list1:hover{
  background-image: url('../images/menu1_on.png');
  background-size: 70%;
}
.menu-list2:hover{
  background-image: url('../images/menu2_on.png');
  background-size: 70%;
}
.menu-list3:hover{
  background-image: url('../images/menu3_on.png');
  background-size: 70%;
}

/* ================================================== */
.wibro{
  height: 150px; 
  width: 100px;
  background-color: transparent;
  background-image:url('../images/ARROW.png');
  left: 667px;
  top: 450px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.wibro:hover {
  -webkit-animation: 0.9s tremor ease-in-out infinite;  
  animation: 0.9s tremor ease-in-out infinite;    
}

@-webkit-keyframes tremor {
  0%, 25% {
      top: 430px;
      -webkit-transform: translateY(-18%);
      transform: translateY(-18%);
  }
  50%, 100% {
      top: 450px;
      -webkit-transform: translateY(18%);
      transform: translateY(18%);
  }
}

@-moz-keyframes tremor {
  0%, 25% {
      top: 430px;
      -webkit-transform: translateY(-18%);
      transform: translateY(-18%);
  }
  50%, 100% {
      top: 450px;
      -webkit-transform: translateY(18%);
      transform: translateY(18%);
  }
}

@-ms-keyframes tremor {
  0%, 25% {
      top: 430px;
      -webkit-transform: translateY(-18%);
      transform: translateY(-18%);
  }
  50%, 100% {
      top: 450px;
      -webkit-transform: translateY(18%);
      transform: translateY(18%);
  }
}
@-o-keyframes tremor {
  0%, 25% {
      top: 430px;
      -webkit-transform: translateY(-18%);
      transform: translateY(-18%);
  }
  50%, 100% {
      top: 450px;
      -webkit-transform: translateY(18%);
      transform: translateY(18%);
  } 
}

@keyframes tremor {
  0%, 25% {
      top: 380px;
      -webkit-transform: translateY(-8%);
      transform: translateY(-8%);
  }
  50%, 100% {
      top: 450px;
      -webkit-transform: translateY(8%);
      transform: translateY(8%);
  }
}

.mob{
  display: none;
}
.media-css{
  display: none;
}
