@import "media.css";

.content{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  /* padding: 20px 40px; */
}
.wrap {
  position: relative;
  margin: auto;
  background-image: url("../img.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1690px;
  /* min-width: 800px; */
}

/* ============================================== */
.menu{
  position: absolute;
  height: 12%;
  width: 20%;
  left: 1%;
  top: 1%;
}

.menu-btn{
  margin: auto;
  height: 36%; 
  width: 32%;
  background-color: transparent;
  background-image:url('../images/MENU.png');
  background-size: 100%;
  background-repeat:no-repeat;
  border:none;
  cursor: pointer;
}
.menu-btn:hover{
  background-image:url('../images/MENU_on.png') 
}

#menu-btn-list{
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 5%;
  flex-direction: column;
  justify-content: flex-start;
  display: none;
  transform: rotate(0.98turn);
}

.menu-list1{
  width: 100%;
  text-align: center;
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 100%;
}

.menu-list2{
  width: 100%;
  text-align: center;
  color: #000;
  font-weight: bold;
  margin-bottom: 5px
}

.menu-list3{
  width: 100%;
  text-align: center;
  color: #000;
  font-weight: bold;
  margin-bottom: 5px
}

.menu-list1:hover{
  background: #000;
  text-decoration: none;
  color: white;
}
.menu-list2:hover{
  background: #000;
  text-decoration: none;
  color: white;
}
.menu-list3:hover{
  background: #000;
  text-decoration: none;
  color: white;
}

.btn-logo{
  height: 5%;
  width: 18%;
  background-color: transparent;
  background-image:url('../images/logo-black.png');
  background-repeat:no-repeat;
  border:none;
  position: absolute; 
  left: 70%;
  top: 3%;
}

#wibro{
  height: 10%;
  width: 9%;
  background-color: transparent;
  background-image:url('../images/ARROW.png');
  left: 55%;
  top: 27%;
  background-size: 90%;
  background-repeat: no-repeat;
  position: absolute;
}

.btn-con{
  height: 3%; 
  width: 15%;
  background-color: transparent;
  background-repeat:no-repeat;
  border:none;
  position: absolute; 
  left: 37%;
  top: 50.5%;
  background-image:url('../images/konkurs.png');
  background-size: 90%;
}

.btn-con:hover{
  background-image:url('../images/konkurs_on.png');
}

#btn-photo{
  height: 8%;
  width: 12%;
  background-color: transparent;
  background-image:url('../images/add_photo.png');
  background-repeat:no-repeat;
  background-size: 100%;
  border:none;
  position: absolute; 
  left: 22%;
  top: 71%;
  cursor: pointer;
}

#btn-photo:hover{
  background-image:url('../images/add_photo_on.png');
}


.media{
    position: absolute;
    left: 16%;
    top: 84%;
    display: flex;
    width: 31%;
    height: 5%;
    transform: rotate(0.98turn);
}

.btn-vk{
  height: 90px; 
  width: 90px;
  background-color: transparent;
  background-image:url('../images/BK.png');
  background-size: 90%;
  background-repeat:no-repeat;
  border:none;
  line-height:50px;
}
.btn-fb{
  height: 90px; 
  width: 90px;
  background-color: transparent;
  background-image:url('../images/Fb.png');
  background-size: 90%;
  background-repeat:no-repeat;
  border:none;
  line-height:50px;
}
.btn-ok{
  height: 90px; 
  width: 90px;
  background-color: transparent;
  background-image:url('../images/O.png');
  background-size: 90%;
  background-repeat:no-repeat;
  border:none;
  line-height:50px;
}
.btn-wp{
  height: 90px; 
  width: 90px;
  background-color: transparent;
  background-image:url('../images/Whatsapp.png');
  background-size: 90%;  
  background-repeat:no-repeat;
  border:none;
  line-height:50px;
}

.btn-vk:hover{
  background-image:url('../images/BK_on.png');
}
.btn-fb:hover{
  background-image:url('../images/Fb_on.png');  
}
.btn-ok:hover{
  background-image:url('../images/O_on.png'); 
}
.btn-wp:hover{
  background-image:url('../images/Whatsapp_on.png'); 
}

.btn-submit{
  position: absolute; 
  left: 54%;
  top: 80.5%;
  height: 7%;
  width: 25%;
  background-color: transparent;
  background-image:url('../images/TELL.png');
  background-repeat:no-repeat;
  background-size: 100%;
  border:none;
  line-height:50px;
}

.btn-submit:hover {
  background-image:url('../images/TELL_ON.png');
}

/* ---------------------------------------------- */
/* 
.form{
  position: relative;
} */

.txt1 {
  position: absolute; 
  left: 46%;
  top: 2%;
}

.txt {
  position: absolute; 
  left: 46%;
  top: 10.0%;
  font-size: 100%;
  width: 32%;
  height: 20%;
  z-index: 10;
}

#foto-txt{
  position: absolute; 
  left: 46%;
  top: 31%;
  font-size: 120%;
  font-weight: bold;
}

#span-plus {
  position: absolute; 
  left: 66%;
  top: 33%;
  background-image:url('../images/black-circle.png');
  background-repeat:no-repeat;
  background-size: 50%;
  cursor: pointer;
  height: 30px; 
  width: 30px;
}

#div-txt {
  position: absolute; 
  left: 46%;
  top: 38%;
  font-weight: normal;
  color: #b6b6b6;
  font-size: 100%;
}


.name1 {
  position: absolute; 
  left: 46%;;
  top: 48%;
}
.name {
  position: absolute; 
  left: 46%;
  top: 56%;
  font-size: 100%;
  width: 32%;
  height: 12%;
}
.email1 {
  position: absolute; 
  left: 46%;
  top: 70%;
}
.email {
  position: absolute; 
  left: 46%;
  top: 78%;
  font-size: 100%;
  width: 32%;
}

.invalid-feedback{
  position: absolute; 
  left: 43%;
  top: 92%;
  font-size: 1rem;
  width: 32%;
}


.label {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 2px;
}
.positionA .form-control:focus:not(.is-invalid) {
  border: 2px solid #fbd77c;
  box-shadow: inset 0 1px 1px rgba(251,215,124,0.075), 0 0 18px rgba(251,215,124,0.6);
}


/* .positionA .frm-ctrl{
  width: 32%;
  height: 12%;
} */

.positionA .form-control:focus .is-invalid{
  border: 2px solid red;
  box-shadow: inset 0 1px 1px rgba(251,215,124,0.075), 0 0 18px rgba(251,215,124,0.6);
}

/* ============================================== */
.positionA{
  position: absolute;
  width: 100%;
  height: 23%;
  left: 0%;
  top: 55.5%;
}

.history{
  margin: auto;
  background: #F8F4EA;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer{
  height: 30px;
  margin: auto;
  color: #878787;
}
.footer h6{
  margin: auto 0 auto 20%;
}

#posts{
  width: 80%;
  margin: auto;
}
.post{
  display: flex;
  background:#FFFFFF;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding: 10px 0;
  margin-bottom: 20px;
}

.photo{
  margin: auto;
  padding-left: 20px;
  flex-basis: 20%;
}

.photo > img{
  max-height: 150px;
  max-width: 150px;
  overflow: hidden;
}

.photo > img:hover {
  cursor: zoom-in;
}

.full-name{
  margin-bottom: 20px;
}

.post-body{
  margin-left: 20px;
  flex-basis: 80%;
  padding-right: 20px;
}

.post-text{
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn{
  float: right;
  margin: 20px;
}

.btn-read{
  height: 30px; 
  width: 177px;
  background-color: transparent;
  background-image:url('../images/read.png');
  background-repeat:no-repeat;
  background-size: 100%;
  border:none;
  line-height:50px;
}
.btn-hide{
  height: 30px; 
  width: 177px;
  background-color: transparent;
  background-image:url('../images/hide.png');
  background-repeat:no-repeat;
  background-size: 100%;
  border:none;
  line-height:50px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.display-block2 {
  display: block;
  width: 20%;
  position: absolute;
  left: 57%;
  top: 23%;
  z-index: 20;
}

.thanks {
  display: none;
}


#image-body{
  /* max-width: 100%; */
  /* margin-top: 20px; */
  /* width: auto;
  height: auto; */
  overflow: auto;
  width: auto;
}

/* .croppie-container */

#result{
  margin-left: 20px;
  max-width: 200px;
  max-height: 200px;
}

#result-wrap{
  margin-top: 20px;
}

#resizer-demo{
  /* max-width: 100%;
  max-height: 100%; */
}

#file {
  display: none;
}

.modal-open .modal {
  overflow: auto;
}

.mob{
  display: none;
}
.media-css{
  display: none;
}
