@media (min-width: 1000px) and (max-width: 1099px) {
  .wrap {
    background-image: url("");
    min-height: 100%;
  }
  .media-css{
    display: block;
    width: 100%;
    height: 100%;
  }

  .btn-logo{
    left: 80%;
    top: 1.5%;
    background-size: 80%;
  }

  .menu{
    left: 0;
    top: 1.5%;
  }
  .menu-btn{
    background-size: 80%;
    margin: 0 0 0 40px;
  }

  #menu-btn-list{
    padding-left: 10px;
  }
  .menu-list1{
    background-size: 80%;
  }
  .menu-list2{
    background-size: 80%;
  }
  .menu-list3{
    background-size: 80%;
  }

  .wibro{
    left: 60%;
    top: 25%;
    background-size: 80%;
  }

  .btn-con{
    left: 36%;
    top: 50.8%;
    background-size: 80%;
  }

  .positionA{
    top: 55.8%;
  }
  .txt1, .txt, .name1, .name, .email1, .email, p, #div-txt, .invalid-feedback{
   left: 46%;
  }

  .email1 {
    top: 240px;
  }
  .email {
    top: 270px;
    
  }

  .name, .email{
    height: 20px;
  } 

  .invalid-feedback{
    top: 290px;
    left: 42%;
  }

  #span-plus{
    left: 70%;
  }

  #btn-photo{
    left: 20%;
    top: 71%;
    background-size: 70%;
  }
  
  .media{
    left: 14%;
    top: 84%;
    width: 300px;
  }

  .btn-vk{
    background-size: 80%;
  }
  .btn-fb{
    background-size: 80%;
  }
  .btn-ok{
    background-size: 80%;
  }
  .btn-wp{
    background-size: 80%;  
  }

  .div-sub{
    left: 50%;
    top: 65%;
  }
  .btn-submit{
    background-size: 70%;
  }

}