@media (min-width: 400px) and (max-width: 999px) {
  .wrap {
    background-image: url("");
    min-height: 100%;
  }
  .mob{
    display: block;
    width: 100%;
    height: 100%;
  }

  .btn-logo{
    left: 80%;
    top: 1.5%;
    background-size: 70%
  }

  .menu{
    left: 0;
    top: 1.5%;
  }
  .menu-btn{
    background-size: 70%;
    margin: 0 0 0 40px;
  }

  #menu-btn-list{
    padding-left: 10px;
  }
  .menu-list1{
    background-size: 70%
  }
  .menu-list2{
    background-size: 70%
  }
  .menu-list3{
    background-size: 70%
  }

  .wibro{
    left: 60%;
    top: 22%;
    background-size: 70%
  }

  .btn-con{
    left: 54%;
    top: 33.7%;
    background-size: 70%;
  }

  .positionA{
    top: 55.8%;
  }
  .txt1, .txt, .name1, .name, .email1, .email, p, #div-txt, .invalid-feedback{
   left: 26%;
  }

  .invalid-feedback{
    top: 330px;
  }
  .name, .email{
    height: 30px;
  } 
  #span-plus{
    left: 62%;
  }

  #btn-photo{
    left: 66%;
    top: 72%;
    background-size: 70%
  }

  .media{
    left: 29%;
    top: 87%;
    background-size: 70%
  }
  
 .btn-vk{
    background-size: 70%;
  }
  .btn-fb{
    background-size: 70%;
  }
  .btn-ok{
    background-size: 70%;
  }
  .btn-wp{
    background-size: 70%;  
  }

  #sub{
    display: none;
  }

  #sub2{
    display: block;
    position: absolute;
    left: 30%;
    top: 78%;
  }

}